@model IEnumerable<AManeira.Models.Encomendas>

@{
    ViewData["Title"] = "Encomendas";
}

<h1>Encomendas</h1>
@if (User.IsInRole("Admin"))
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PrecoTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataHoraEntrega)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecoTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataHoraEntrega)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.ID)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
}
